body {
    padding: 36px 156px;
}


.datetime-container {
    width: 355px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#datetime-picker {
    width: 272px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    transition: border 250ms ease-in-out;
}

#datetime-picker:hover {
    border: 2px solid black;
}

.datetime-container:focus-within #datetime-picker {
    border-color: #4E75FF;
}

.datetime-container button {
    padding: 8px 16px;
    border-radius: 8px;
    width: 75px;
    background-color: #4E75FF;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    transition: background-color 250ms ease-in-out;
}

.datetime-container button:hover {
    background-color: #6C8CFF;
}

.datetime-container button:disabled {
    background-color: #CFCFCF;
    color: #989898;
}

.timer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 72px;
    width: 346px;
    margin-top: 32px;
}

.timer .field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: #2E2F42;
}

.label {
    color: #2E2F42;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0em;
    font-weight: 400;
}